{# templates/security/register.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Register</h2>

    {{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}

    <div class="form-group">
        {{ form_label(form.password.first) }}
        <div class="input-group">
            {{ form_widget(form.password.first, {'attr': {'class': 'password-field'}}) }}
            <div class="input-group-append">
                <span class="input-group-text">
                    <input type="checkbox" onclick="togglePassword()"> Show
                </span>
            </div>
        </div>
        {{ form_errors(form.password.first) }}
    </div>

    {{ form_row(form.password.second) }}
    <button type="submit">Register</button>
    {{ form_end(form) }}

    <script>
        function togglePassword() {
            var x = document.getElementById("{{ form.password.first.vars.id }}");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    {%if error %}
      {{ 'test' }}
    {%endif%}

   
{% endblock %}
