
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Create Article</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.imageFile) }}
    <button type="submit">Create Article</button>
    {{ form_end(form) }}
{% endblock %}
